extends layout

block content
  h1 Articles
  div
    - for (const data of articles)
      - console.log(data)
      div
          h2
            a(href= data.url)= data.title
            span= data.url
          span= data.length
          if data.read
              span Read
          else
            span Not read
          span Added on #{data.added_on.toDateString()}
          div
            - for (const tag of data.tags)
              - let selected_tag = tags.filter(r => r.id === tag)[0]
              - let color = Number(selected_tag.color).toString(16).padStart(6, "0")
              - let name = selected_tag.name
              span(style='background-color: #' + color)= name
            if data.notes.trim().length > 0
              h3 Notes
              p #{data.notes}
            hr
      p Page #{currentPage} / #{totalPages}
      if currentPage > 1
        a(href="/articles?page=" + (currentPage - 1)): span Previous
      if currentPage < totalPages
        a(href="/articles?page=" + (currentPage + 1)): span Next
    if articles.length === 0
      p No articles
